@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    
*@
@{
    ViewData["Title"] = "Text Analysis App"; @* This is seen on the browser tab *@
}

<h2>Text Analysis Using Associative Containers</h2>

<p>Greetings from my view template: index.cshtml</p>
